body,ul,li,h1,h2,p{
    background-color: gainsboro;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    list-style: none;
    color: green;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 3;
    background-color: gainsboro;
}
nav{
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
li{   
    background-color: transparent;
    margin-bottom: 5px;
    margin-right: 15px;
}
li:last-child{
    margin-right: 0;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: green;
    font-weight: bold;
    font-size: 1.7em;
    transition: .3s linear all;

}
nav a:hover{
    color: greenyellow;
}
.bgw{
    display: block;
    width: 100%;
    height: 80px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container::after{
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background-color: green;
    margin-top: 10px;
}
.container::after:last-child{
    display: none;
}
.introduction{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction h1{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2em;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.introduction img{
    width: 60%;
    border-radius: 10px;
}
.my_contacts{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.my_contacts h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}
.my_contacts>p{
    font-weight: normal;
    font-size: .8em;
    margin: 0 0 20px 0;

}
.my_contacts>p:last-child{
    margin-bottom: 0;
}
#abt>h2,#exp>h2,#skl>h2,
.skils>h2,.education>h2,.language>h2{
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 15px 0;
}
#exp{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
code{
    background-color: rgb(0, 0, 0);
    margin: 30px 0;
    font-size: 1em;
    padding: 20px;
}
#exp>a{    
    text-decoration: none;
    color: green;
    transition: .3s linear all;
    border: 1px solid green;
    padding: 10px;
    border-radius: 3px;
    background-color: grey;

}
#exp>a:hover{
    color: greenyellow;

}
#skl{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skils, .education{
   width: 400px;
}
.language{
    width: 100%;
}
footer{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer img{
    height: 40px;
}
footer>a{
    text-decoration: none;
    color: green;

}


@media (max-width: 770px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .my_contacts{
        align-items: center;
    }
    .introduction{
        margin-bottom: 15px;
    }
    nav a{
        font-size: 1.5em;
    }
    #skl{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .language,.skils, .education{
        max-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}