body,ul,li,h1,h2{
    background-color: black;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    list-style: none;
    color: green;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 3;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    display: inline-block;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: green;
    font-weight: bold;
    font-size: 2em;
    padding: 0 5px;
    transition: .3s linear all;

}
nav a:hover{
    border: 1px solid green;
    color: greenyellow;
}
.bgw{
    display: block;
    width: 100%;
    height: 10vh;
}
main{
    height: 100vh;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.introduction{
    max-width: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.introduction h1{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2em;
    width: 100%;
    padding: 10px 0;
   text-align: center;
   

}
.introduction img{
    width: 60%;
}
.my_contacts{
    width: 300px;
}
.my_contacts h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}
.my_contacts>p{
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 20px 0;

}
.my_contacts>p:last-child{
    margin-bottom: 0;
}
footer{
    background-color: red;
    height: 10vh;
}
